.header {
    background-image: url('../Assets/Hero-bg.png');
}

nav {
    display: flex;
    justify-content: space-around;
}

/* button styles */

button {
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border-style: none;
    padding: 12px 36px;
}