.header {
    background-image: url('../Assets/Hero-bg.png');
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h1 {
    font-size: 34px;
    font-weight: 600;
}

header div h1 {
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 85px;
}

.banner {
    text-align: center;
    padding: 150px 250px;
}

.action {
    display: flex;
}
/* button styles */

button {
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border-style: none;
    padding: 12px 36px;
}

/* logo */

.logo {
    color: #4E47FF;
}